:root {
  --nav-width: 10rem;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--bgcolor-1);
  font-size: 1rem;
}

div {
  margin: auto;
}

.container {
  max-width: 50rem;
  margin: auto;
  overflow: auto;
}

.en .content {
  font-family: 'Open Sans', sans-serif;
}

.en .title {
  font-family: 'Roboto', sans-serif;
}

.ja .title, .ja .content {
  font-family: ;
}

.footer {
  background-color: var(--bgcolor-2);
  padding: 1em;
  margin-top: 1rem;
  text-align: center;
  width: 100%;
}

.header {
  background-color: var(--bgcolor-2);
  color: var(--color-4);
  font-size: 1.3rem;
  padding: 2rem;
  text-align: right;
  width: 100%;
}

.nav {
  background-color: var(--bgcolor-2);
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.nav ul {
  font-size: 1.2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav a {
  display: block;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}

.nav a.active {
  background-color: var(--bgcolor-4);
}

.nav a:hover:not(.active) {
  background-color: var(--bgcolor-3);
}

.no-svg .logo {
  background-image: url(images/icon/icon.png);
  background-repeat: no-repeat;
  height: 10rem;
}

.post {
  background: var(--bgcolor-2);
  margin-right: 1rem;
  padding: 0 1rem;
}

#mascot {
  float: right;
  height: 10rem;
  position: relative;
}

#content-main {
  margin-top: 1rem;
  margin-right: var(--nav-width);
}

#sidebar-main {
  float: right;
  margin-top: 1rem;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: var(--nav-width);
}

/* Extra small devices */
@media screen and (max-width: 600px) {
  #sidebar-main {
    display: none;
  }

  #content-main, .post {
    margin-right: 0;
    width: 100%;
  }
}
