:root {
  --nav-width: 10rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active {
  color: var(--color-5);
}

body {
  background-color: var(--bgcolor-1);
  font-size: 1rem;
}

div {
  margin: auto;
}

.container {
  max-width: 50rem;
  margin: auto;
  overflow: auto;
}

.content {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.footer {
  background-color: var(--bgcolor-2);
  box-sizing: border-box;
  padding: 1em;
  margin-top: 1rem;
  text-align: center;
  width: 100%;
}

.header {
  background-color: var(--bgcolor-2);
  box-sizing: border-box;
  color: var(--color-2);
  padding: 2rem;
  text-align: right;
  width: 100%;
}

.nav {
  background-color: var(--bgcolor-2);
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.nav ul {
  font-size: 1.2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav a {
  display: block;
  padding: 0.5rem 1rem;
}

.nav a.active {
  background-color: var(--bgcolor-4);
}

.nav a:hover {
  background-color: var(--bgcolor-3);
}

.post {
  background: var(--bgcolor-2);
  margin-right: 1rem;
  padding: 1rem;
}

.title {
  font-family: 'Roboto', sans-serif;
}

#mascot {
  float: right;
  height: 10rem;
  position: relative;
}

#content-main {
  margin-top: 1rem;
  margin-right: var(--nav-width);
}

#sidebar-main {
  float: right;
  margin-top: 1rem;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: var(--nav-width);
}
